@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}



body
{
    font-family: "roboto";
    background-color: var(--mainColor);
    color: #fff;
}


:root
{
    --mainColor : #1E202B ;

}

.mainBg
{
    background-color: var(--mainColor);
}



/* navbar-------------------------------- */

.nav-link 
{
    --bs-nav-link-color: #fff;
    color: var(--bs-nav-link-color);
    border-radius: 1.8rem;
    border: 2px solid transparent; 
    transition: all 0.25s ease-in-out;
    padding: 0.4rem 1.5rem !important;
}

.nav-link:hover , .active
{
    --bs-navbar-active-color: var(--bs-nav-link-hover-color);
    --bs-nav-link-hover-color: #0d6efd;
    border: 2px solid #0d6efd; 
    color: var(--bs-nav-link-hover-color);
}


.navbar-toggler {
  --toggler-color: white;
  --hover-color: #0d6efd;
  border: 2px solid transparent !important;
  border-radius: 1.8rem !important;
  padding: 0.4rem 1rem !important;
  transition: all 0.25s ease-in-out !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: inherit;
}

.navbar-toggler:hover {
  border-color: var(--hover-color) !important;
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(13, 110, 253, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}






/*main  ================================================================================== */
.search-group 
{
    position: relative; 
    padding: 0;
}

.btn 
{
    position: absolute; 
    right: 5px; top: 50%; 
    transform: translateY(-50%); 
    --bs-border-radius: 1.8rem ;
    padding:  0.7rem 2rem;
    letter-spacing: 1.2px;

}




.form-control
{
    --bs-body-bg : var(--mainColor);
    background-color: var(--bs-body-bg);
    border: none;
    padding: 1rem;
    --bs-border-radius : 1.8rem ;
    border-radius: var(--bs-border-radius);
    color: white;
}


.form-control::placeholder
{
    color: #717171;
}


.form-control:focus 
{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border:none;
    outline: 0;
    box-shadow: none;
}

main
{
    background: url(../images/banner.png) no-repeat top ; 
}




/* footer------------------------------------------ */

footer
{
    background-color: #262936;
}

.social-links a
{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.3rem;
}










